[submodule "ws/src/jackal"]
	path = ws/src/jackal
	url = https://github.com/KumarRobotics/jackal.git
	branch = jackal2_jazzy
[submodule "ws/src/clearpath_msgs"]
	path = ws/src/clearpath_msgs
	url = https://github.com/clearpathrobotics/clearpath_msgs.git
[submodule "ws/src/robot_upstart"]
	path = ws/src/robot_upstart
	url = https://github.com/clearpathrobotics/robot_upstart.git
	branch = foxy-devel
[submodule "ws/src/twist_mux"]
	path = ws/src/twist_mux
	url = https://github.com/ros-teleop/twist_mux.git
	branch = humble
[submodule "ws/src/wireless"]
	path = ws/src/wireless
	url = https://github.com/clearpathrobotics/wireless.git
	branch = humble-devel
[submodule "ws/src/ouster-ros"]
	path = ws/src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "ws/src/custom_msgs_pkg"]
	path = ws/src/custom_msgs_pkg
	url = https://github.com/frankgon1627/custom_msgs_pkg.git
[submodule "ws/src/DecompROS2"]
	path = ws/src/DecompROS2
	url = https://github.com/frankgon1627/DecompROS2.git
[submodule "ws/src/planners"]
	path = ws/src/planners
	url = https://github.com/frankgon1627/planners.git
[submodule "ws/src/negative_obstacle_detection"]
	path = ws/src/negative_obstacle_detection
	url = https://github.com/frankgon1627/negative_obstacle_detection.git
[submodule "ws/src/mpc_controller"]
	path = ws/src/mpc_controller
	url = https://github.com/frankgon1627/mpc_controller.git
